.home {
  display: flex; /* contexte sur le parent */
}

.chart {
    float:left;
    width:30%;
    margin: auto;
    padding-left: 150px;
}

.Tweettable {
    margin-left:5%;
}

.sorting {
    color: #00a1b3;
}

.line-numbers {
    color: #00a1b3;
}
